
<% if current_user %>
  <% if verif_appartenance_division(current_user, session[:division] ) %>
    <% unless verif_presence_existe(current_user, session[:event]) %>

      <button class="btn btn-sm btn-warning m-2" type="button" 
          data-bs-toggle="collapse" data-bs-target="#collapseNewPresence" aria-expanded="false">
            <i class="fa-solid fa-square-plus fa-xl"></i>
      </button>
          
      <div class="collapse" id="collapseNewPresence">
        <div id="new_presence" class="">
          <%= render partial: "presences/form", locals: { presence: Presence.new } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= add_disabled_button %>
  <% end %>
<% else %>
  <%= add_disabled_button %>
  <div class="container my-2 fs-6">
    <%= boolean_container(false, "Connecte toi à ton compte pour mettre ta présence") %>
  </div>  
<% end %>

