<h1>Editing association</h1>

<%= render "form", association_user: @association_user %>

<br>

<div>
  <%= link_to "Show this association", @association_user %> |
  <%= link_to "Back to associations", association_users_path %>
</div>
