
<div class="card bg-white text-dark m-2 p-2">  
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <i class="fa fa-user-group mx-2"></i>
      nb users: 
    </div>
    <div class="col fw-bold">
      <span data-controller="counter" data-target-value="<%= User.all.count %>"></span>
    </div>
  </div>
</div>


<div class="card bg-white text-dark m-2 p-2">  
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <i class="fa fa-money-bill-wave  mx-2"></i>
      nb paris: 
    </div>
    <div class="col fw-bold">
      <span data-controller="counter" data-target-value="<%= Pari.all.count %>"></span>
    </div>
  </div>
</div>
