  <h2 class="text-center">
      Rejoignez dès maintenant RaceMeIfYoucan
  </h2>

  <div class="container-fluid text-center my-4">
      <%= link_to steps_compte_step1_path, class: "btn w-50 bg-warning fa-beat-fade" do %>
        <span>Inscription</span>      
      <% end %>
      
  </div>