<h4 class="titre-topic">
  DOTDS
  <%= turbo_frame_tag :content_new_dotd do %>
    <%= render "dotds/new_dotd" %>
  <% end %>
</h4>

<div id="dotds">
  <% @dotds.each do |dotd| %>
    <%= render dotd %>
  <% end %>
</div>

<div id="partial-dotds-stats-container" class="my-1 text-center">
  <%= render "dotds/stats" %>
</div>
