<h4> Présences</h4>

<%= turbo_frame_tag :content_new_presence do %>
  <%= render "presences/new_presence" %>
<% end %>

<div id="presences">
  <% @presences.each do |presence| %>
      <%= render presence %>
  <% end %>
</div>

<div id="partial-presences-stats-container" class="my-1">
  <%= render "presences/stats" %>
</div>
