<h4 class="titre-topic">
  Présences
  <%= turbo_frame_tag :content_new_presence do %>
    <div class="container-fluid">
      <%= render "presences/new_presence" %>
    </div>
  <% end %>
</h4>

<div class="container-fluid">
  <div id="presences">
    <% @presences.each do |presence| %>
        <%= render presence %>
    <% end %>
  </div>
</div>

<div id="partial-presences-stats-container" class="my-1 text-center">
  <%= render "presences/stats" %>
</div>
