
  <h4 class="mx-1">
    <span>Résultats </span>

    <% if current_user && verif_admin_ligue(current_user, @event.division.saison.ligue) %>

      <button class="btn btn-sm btn-warning m-2" type="button" 
        data-bs-toggle="collapse" data-bs-target="#collapseNewEvent" aria-expanded="false">
          <i class="fa-solid fa-square-plus fa-xl"></i>
      </button>

    <% end %>

  </h4>

  <div class="d-flex align-items-center justify-content-center m-0 p-0">
    <div class="collapse my-2" id="collapseNewEvent">
      <div id="new_resultat">
        <%= render partial: "resultats/form", locals: { resultat: Resultat.new } %>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center m-0 p-0">
    <div id="resultats" class="overflow-auto pb-4">
      <% @resultats.each do |resultat| %>
        <div class="">
          <%= render resultat %>
        </div>
      <% end %>
    </div>
  </div>

 <hr>  
  
  <div class="container">
    <%= link_to "", generate_image_resultats_path(event: @event.id), class: 'btn fa fa-image btn-success' %>
    <%= link_to "", animation_path(event: @event.id), class: 'btn fa fa-film btn-primary' %>
  </div>

