
<div data-controller="setup-chartradar" 
     data-setup-chartradar-setup-stats="<%= session[:score] %>" class="card" 
     style="display: flex; justify-content: center; align-items: center; background-color: rgb(30, 30, 30);">

    <div style="position: relative; height: 300px; width: 300px;"> 
      <canvas id="myChartRadar" style="position: absolute; top: 0; left: 0;"></canvas> 
    </div>
</div>

