<div class="container-fluid p-0"> 
   <div id="parametre_setups">

        <div class="row m-0">

            <% base_setups = BaseSetup.where(game: @setup.game_id) %>
            <% base_setups.group_by(&:categorie_parametre).each do |categorie_parametre, base_setups| %>
            
                <div class="col-sm-6 col-md-4 col-lg-4">

                    <div class="card bg-dark border-light mb-1">
                    
                        <%= link_to "#", class: "btn", type: "button", data: { bs_toggle: "collapse", bs_target: "#collapse#{categorie_parametre.id}", bs_expanded: "false" } do %>

                            <div class="card-header text-center text-light fw-bold m-0 p-0">
                                <% if categorie_parametre %>
                                    <div class="row m-0 p-0">
                                        <div class="col-10">
                                            <%= categorie_parametre.val_categorie %>                                
                                        </div>
                                        <div class="col-2">
                                            <i class="ms-1 fa-solid fa-eye fa-sm text-primary"></i>                                        
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        
                        <% end %>
                        
                        <div class="collapse" id="collapse<%= categorie_parametre.id %>">
                            <div class="card-body border-light bg-dark m-0 p-0 text-center">
                                <% base_setups.each do |base_setup| %>
                                    <% parametre_setup = @setup.parametre_setups.find_by(base_setup: base_setup) %>
                                    <% if parametre_setup %>
                                        <div class="container">
                                            <%= render parametre_setup %>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>


                    </div>
                </div>

            <% end %>
        </div>
   </div>
</div>
