

<strong class="mx-1">Précision</strong> 

<div class="d-flex flex-wrap m-1">

    <%# if @problemes_secondaires.present? %>

      <% @problems_secondaires.each do |problem_secondaire| %>
          <%= button_to problem_secondaire.nom, 
              display_correctif_setups_path(problem_secondaire_id: problem_secondaire.id), 
                  class: "btn btn-sm btn-outline-primary small-text btn-pb2 m-1",
                  data: { controller: "button-setuptool", action: "click->button-setuptool#handleClickPb2" } %>
      <% end %>
    
    <%# end %>

</div>

  <div id="partial-correctifs-container">
    <%# recoit l'update turbo stream avec une partial donnée %>
  </div>
