<div class="card bg-dark text-light">

  <div class="card-header p-0 px-1 black-colored">
    <h2 class="text-light">Correcteur</h2>
  </div>

  <div class="card-body p-0">

    <div class="m-1 align-items-center">

      <strong class="mx-1">Problème</strong>

        <div class="d-flex flex-wrap">
          <% Problem.all.each do |problem| %>
        
          <%= button_to problem.nom, display_pb2_setups_path(problem_id: problem.id), 
            class: "btn btn-sm btn-outline-primary small-text m-1 p-1 btn-pb1",
            data: { controller: "button-setuptool", action: "click->button-setuptool#handleClickPb1" } %>
        <% end %>
      
      </div>
    </div>
  
    <div id="partial-pb2-container">
      <%# recoit l'update turbo stream avec une partial donnée %>
    </div>
  </div>        

</div>

