<div id="<%= dom_id friend %>">
  <p>
    <strong>Nom:</strong>
    <%= friend.nom %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= friend.age %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= friend.description %>
  </p>

</div>
