
<h1>Friends

  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span>Nouveau</span>
  </button>

</h1>

<hr>

<div class="collapse" id="collapseExample">
  <div id="new_friend">
    <%= render partial: "friends/form", locals: { friend: Friend.new } %>
  </div>
</div>

<div id="friends"> </div>

<%= link_to "New friend", new_friend_path %>

<%= turbo_frame_tag :pagination, loading: :lazy, src: friends_path(format: :turbo_stream) %>