
<div class="d-flex align-items-center justify-content-center m-0 p-0">
  <div id="resultats" class="overflow-auto pb-4">
    <% @resultats.each do |resultat| %>
      <div class="">
        <%= render resultat %>
      </div>
    <% end %>
  </div>
</div>