

<h4 class="text-center" id="infos-event" style="display: none;"> <%= @event.event_full_name %> </h4>
<span class="text-center" id="infos-event-sanitaze" style="display: none;"> <%= "results_" + @event.short_name_sanitaze %> </span>

<div class="d-flex align-items-center justify-content-center">

    <div style="width: 100%; max-width: 500px;" data-controller="animation" data-action="connect" data-animation-resultats-value="<%= @resultats.to_json %>">
        
        <canvas style="width: 100%; margin: 0 auto;" id="myCanvas" height="550" data-animation-target="myCanvas"></canvas>
        
    </div>
</div>

<div class="container text-center my-2">
    <button id="startAnimationBtn" class="btn btn-success">Start</button>
    <button id="recordAnimationBtn" class="btn btn-warning">Record</button>
</div>

<%= back_button_on_event(@event.id) %>

<br>
