<h1>Editing resultat event</h1>

<%= render "form", resultat: @resultat %>

<br>

<div>
  <%= link_to "Show this resultat event", @resultat %> |
  <%= link_to "Back to resultat events", resultats_path %>
</div>
