<div id="<%= dom_id problem %> " class="container-fluid bg-dark text-light">
  <div class="d-flex my-1">
    <strong> Principal <%= problem.nom %> </strong>
    <%= button_to "", edit_problem_path(problem), method: :post, 
          class: "btn btn-sm btn-outline-secondary fa-solid fa-pen-to-square m-1" %>
    <%= button_to "", problem_path(problem), method: :delete, 
          class: "btn btn-sm btn-outline-danger fa-solid fa-trash m-1" %>
  </div>
</div>
