<div id="<%= dom_id comportement %>">
  <p>
    <strong>Nom:</strong>
    <%= comportement.nom %>
  </p>

  <p>
    <strong>Principal:</strong>
    <%= comportement.principal %>
  </p>

  <p>
    <strong>Label categorie:</strong>
    <%= comportement.label_categorie %>
  </p>

</div>
