<h1>Editing comportement</h1>

<%= render "form", comportement: @comportement %>

<br>

<div>
  <%= link_to "Show this comportement", @comportement %> |
  <%= link_to "Back to comportements", comportements_path %>
</div>
