<div id="<%= dom_id categorie_parametre %>">
  <p>
    <strong>Game:</strong>
    <%= categorie_parametre.game_id %>
  </p>

  <p>
    <strong>Val categorie:</strong>
    <%= categorie_parametre.val_categorie %>
  </p>

</div>
