<h1>Editing categorie parametre</h1>

<%= render "form", categorie_parametre: @categorie_parametre %>

<br>

<div>
  <%= link_to "Show this categorie parametre", @categorie_parametre %> |
  <%= link_to "Back to categorie parametres", categorie_parametres_path %>
</div>
