<h1>Editing rattachement</h1>

<%= render "form", rattachement: @rattachement %>

<br>

<div>
  <%= link_to "Show this rattachement", @rattachement %> |
  <%= link_to "Back to rattachements", rattachements_path %>
</div>
