  <% if saisonCourante().present? %>
    <%# btn choix division %>
     <% @divisions = filtreSaisonCouranteDivisions() %>
    <div class="m-2">
      Division |
      <% @divisions.each do |division| %>
          <%= link_to "#{division.nom}", 
            url_for(ligueId: ligueCourante(), saisonId: saisonCourante(), divisionId: division.id), 
            class:"btn btn-choix-event"%>
      <% end %>
    </div>
<% end %>