<% if divisionCourante.present? %>
  <%# btn choix event %>
  <% @events = filtreDivisionCouranteEvents() %>
  <div class="m-2">
    Event |
    <% @events.each do |event| %>
      <%= link_to url_for(ligueId: ligueCourante(), saisonId: saisonCourante(), divisionId: divisionCourante(), eventId: event.id), class: "btn btn-choix-event" do %>
        <% concat image_tag(event.icon_drapeau, class: "img-drapeau") if event.icon_drapeau.attached? %>
        <%= event.nom_court %>
      <% end %>
    <% end%>
  </div>
  
<% end %>
