<% if ligueCourante().present? %>
  <%# btn choix saison %>
  <% @saisons = filtreLigueCouranteSaisons() %>
  <div class="m-2">
    Saison |
    <% @saisons.each do |saison| %>
        <%= link_to "#{saison.nom}", url_for(ligueId: ligueCourante(), saisonId: saison.id), 
            class:"btn btn-choix-event"%>
    <% end %>
  </div>
<% end %>