
<div data-controller="chartline" 
     data-chartline-user-resultats="<%= @data_resultats %>"
     data-chartline-user-compare-stats="<%= @data_compare %>">

  <div class="container mt-1 text-center">
    <canvas id="myChartLine" height="300"></canvas>
  </div>
</div>

