
<div data-controller="chart" 
     data-chart-user-stats="<%= @data %>"
     data-chart-user-compare-stats="<%= @data_compare %>">

  <div class="container mt-1 text-center">
    <canvas id="myChartRadar" height="300"></canvas>
  </div>
</div>
