<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p> 

  <p>
    <strong>Nom:</strong>
    <%= user.nom %>
  </p> 
  
  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p> 

</div>

