<h1>Editing reglement</h1>

<%= render "form", reglement: @reglement %>

<br>

<div>
  <%= link_to "Show this reglement", @reglement %> |
  <%= link_to "Back to reglements", reglements_path %>
</div>
