<p style="color: green"><%= notice %></p>

<h1>Divisions</h1>

<div id="divisions">
  <% @divisions.each do |division| %>
    <%= render division %>
    <p>
      <%= link_to "Show this division", division %>
    </p>
  <% end %>
</div>

<%= link_to "New division", new_division_path %>
