<div id="<%= dom_id problem_second %>">

  <div class="d-flex my-1">
    <%= problem_second.nom %>

    <%= button_to "Edit", edit_problem_second_path(problem_second), method: :post, 
          class: "btn btn-sm btn-outline-dark mx-1 p-1" %>
    <%= button_to "Destroy", problem_second_path(problem_second), method: :delete, 
          class: "btn btn-sm btn-outline-danger mx-1 p-1" %>

  </div>
</div>
