<h1>Editing problem second</h1>

<%= render "form", problem_second: @problem_second %>

<br>

<div>
  <%= link_to "Show this problem second", @problem_second %> |
  <%= link_to "Back to problem seconds", problem_seconds_path %>
</div>
