<p style="color: green"><%= notice %></p>

<div class="container-fluid p-2">

  <%= render @purchase %>

  <div>
    <%= link_to "Back to purchases", purchases_path, class: "btn btn-dark my-3" %>
  </div>

</div>
