

<%# btn choix ligue %>
<div class="m-2">
  Ligue |
  <% @ligues.each do |ligue| %>
      <%= link_to "#{ligue.nom}", url_for(ligueId: ligue.id), 
          class:"btn btn-sm btn-dark"%>
  <% end %>
</div>

<% if (@ligueId).present? %>
  <%# btn choix saison %>
  <div class="m-2">
    Saison |
    <% @saisons.ligue_courante(@ligueId).each do |saison| %>
        <%= link_to "#{saison.nom}", url_for(ligueId: @ligueId, saisonId: saison.id), 
            class:"btn btn-sm btn-dark"%>
    <% end %>
  </div>

  <% if (@saisonId).present? %>
    <%# btn choix division %>
    <div class="m-2">
      Division |
      <% @divisions.saison_courante(@saisonId).each do |division| %>
          <%= link_to "#{division.nom}", 
            url_for(ligueId: @ligueId, saisonId: @saisonId, divisionId: division.id), 
            class:"btn btn-sm btn-dark"%>
      <% end %>
    </div>

    <% if (@divisionId).present? %>
      <%# btn choix event %>
      <div class="m-2">
        Event |
        <% @events.division_courante(@divisionId).each do |event| %>
            <%= link_to "#{event.numero}", 
              url_for(ligueId: @ligueId, saisonId: @saisonId, divisionId: @divisionId, eventId: event.id), 
              class:"btn btn-sm btn-dark"%>
        <% end %>
      </div>
      
    <% end %>
  <% end %>
<% end %>

<hr/> 