      <% unless current_user %>
        
            <%= link_to new_user_session_path, class: "btn btn-sm btn-warning m-1" do %>
               <i class="fa fa-solid fa-xl fa-user-lock"></i>
               <span class="ms-1 fw-bold">Connexion</span>
            <% end %>

            <%= link_to steps_compte_step1_path, class: "btn btn-sm btn-primary m-1" do %>
               <i class="fa fa-solid fa-xl fa-user-plus"></i>
               <span class="ms-1 fw-bold">Nouveau</span>
            <% end %>

      <% end %>  
