
<div class="badge bg-secondary text-light p-2 my-2" style="min-width: 140px;">
    <div data-controller="countdown" data-countdown-event-date="<%= @event.horaire.strftime('%Y-%m-%dT%H:%M:%S') + @event.horaire.strftime('%:z') %>">
        <i class="fa fa-lg fa-clock me-1"> </i>
        <span data-countdown-target="timer">00:00:00</span>
    </div>
</div>

