
<div class="row container-footer">
  <div class="col text-center p-1">
    <%= link_to "", root_path, class:"fa-solid fa-user btn-footer zoom", title: "Compte" %>
  </div>
  <div class="col text-center p-1">
    <%= link_to "", root_path, class:"fa-solid fa-home btn-footer zoom", title: "Home" %>
  </div>
  <div class="col text-center p-1">
    <%= link_to "", root_path, class:"fa-solid fa-add btn-footer zoom", title: "Créer" %>
  </div>
</div>

