<h1>Editing correctif</h1>

<%= render "form", correctif: @correctif %>

<br>

<div>
  <%= link_to "Show this correctif", @correctif %> |
  <%= link_to "Back to correctifs", correctifs_path %>
</div>
