feed contents

<% @feeds.each do |feed| %>
    <div class="cadre-record"> 
        <span class=""> <%= feed.class.name %> edited </span> 
        <span class="fw-bold"> <%= link_to feed.feed_content, polymorphic_path(feed) %> </span> <hr>    
        <small> <%= feed.updated_at %> </small>
    </div>
<% end %>