
  <h4 class="text-center my-2"> Activités récentes </h4>
  <br>

  <div id="feeds" class="mt-2">
    <% @feeds.each do |feed| %>
      <% if feed_path(feed) %>        
        <%= link_to feed_path(feed), class: "no-underline text-dark" do %>
          <div class="record-with-effect-small-margin d-flex align-items-center ps-2">
            <%= feed_icon(feed) %>
            <%= feed_label(feed) %>
            <small class="time-ago ps-2"> <%= time_ago_in_words(feed.updated_at) %> ago </small>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


    <%#= pagy_next_link(@pagy, text: 'En voir plus...', link_extra: 'id="next_link", class="btn btn-primary"') %>
    <%#= turbo_frame_tag :pagination, loading: :lazy, src: home_index_path(format: :turbo_stream) %>

<br>

<%#== content_tag :div, class: 'd-flex align-items-center justify-content-center my-2' do %>
  <%#==pagy_bootstrap_combo_nav_js(@pagy) %>
<%# end %>
