<div id="pilotes">
    <% @pilotes.each do |pilote| %>
        <div class="record-with-effect">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-10">

                    <%= link_to user_path(pilote), class: "no-underline" do  %>
                        <%= image_tag(pilote.webp_variant, class: "medium-profile-pic mx-2") %> 
                        <%= pilote.nom %>
                    <% end %>
                </div>
                <div class="col-2 text-center">
                    <%= link_to  "", user_path(pilote), class: "btn btn-sm btn-primary fa-solid fa-eye" %> 
                </div>
            </div>
        </div>
    <% end %>
</div>

