<div>

    <div class="card card-with-effect p-2 my-2" id="home-rattachement">

        <div data-controller="scroll" data-action="click->scroll#scroll" data-scroll-target="target-scroll-id">

            <%= render partial: "rattachements/form", 
                locals: { rattachement: Rattachement.new(user: current_user) } %>
        </div>

    </div> 

</div>