<div class="container-fluid p-4">

    <script async
    src="https://js.stripe.com/v3/buy-button.js">
    </script>
    <stripe-buy-button
    buy-button-id="buy_btn_1OIZyCIldjqfnpa3nCEpK62R"
    publishable-key="pk_test_51OIXQHIldjqfnpa3CPcJDjfvVJbOfTh2MbDuN5CrQy5K9k5eYhBl61DSDbhdOpWGPYcWJ8130RTT2NGMaD6HVwr700brRnhgHR"
    >
    </stripe-buy-button>      
        
    <script async
    src="https://js.stripe.com/v3/buy-button.js">
    </script>

    <stripe-buy-button
    buy-button-id="buy_btn_1OIbRgIldjqfnpa35DKbZxuz"
    publishable-key="pk_test_51OIXQHIldjqfnpa3CPcJDjfvVJbOfTh2MbDuN5CrQy5K9k5eYhBl61DSDbhdOpWGPYcWJ8130RTT2NGMaD6HVwr700brRnhgHR"
    >
    </stripe-buy-button>

    <script async
    src="https://js.stripe.com/v3/buy-button.js">
    </script>
    <stripe-buy-button
    buy-button-id="buy_btn_1OIbPuIldjqfnpa3LhNljxeH"
    publishable-key="pk_test_51OIXQHIldjqfnpa3CPcJDjfvVJbOfTh2MbDuN5CrQy5K9k5eYhBl61DSDbhdOpWGPYcWJ8130RTT2NGMaD6HVwr700brRnhgHR"
    >
    </stripe-buy-button>

    <script async
        src="https://js.stripe.com/v3/buy-button.js">
    </script>
    <stripe-buy-button
        buy-button-id="buy_btn_1OIZsbIldjqfnpa3dM5i0mLv"
        publishable-key="pk_test_51OIXQHIldjqfnpa3CPcJDjfvVJbOfTh2MbDuN5CrQy5K9k5eYhBl61DSDbhdOpWGPYcWJ8130RTT2NGMaD6HVwr700brRnhgHR"
        >
    </stripe-buy-button>

</div>
