
<% unless current_user %>
    <div class="container-fluid my-2 p-4 text-center">
        <%= link_to new_user_session_path, 
                class: "btn btn-sm btn-warning",
                'aria-label' => "Sign In" do %>
            Connecte toi ou créé un compte pour accéder aux abonnements
        <% end %>
        
    </div>
<% end %>

    <div class="card m-2 p-2">
        <div class="container-fluid text-center">
            <h4>Abonnements</h4> 
        </div>
        <div class="container-fluid p-2 d-flex flex-wrap justify-content-center">
            <% Article.where(abonnement: true).order(:montant).each do |article| %>
                <%= render article %>
            <% end %>
        </div>
    </div>

    <div class="card m-2 p-2">
        <div class="container-fluid text-center mt-4">
            <h4>Versement unique</h4>
        </div>
        <div class="container-fluid p-2 d-flex flex-wrap justify-content-center">
            <% Article.where(abonnement: false).each do |article| %>
                <%= render article %>
            <% end %>
        </div>
    </div>


