<div class="container p-4">
    <h1 class="text-center">scoring</h1>

    <h2>User + actif </h2>

    <table class="table">
        <thead class="text-warning">
            <tr>
                <th scope="col">User</th>
                <th scope="col">scoring</th>
            </tr>
        </thead>
        <tbody>
            <% scoring_user.each do |user_data| %>
                <tr>
                    <th scope="row"> <%= user_data[:user].nom %> </th>
                    <th scope="row"> <%= user_data[:scoring] %> </th>
                </tr>
            <% end %>
        </tbody>
    </table>

    <hr>

    <h2>pilote meilleures stats </h2>

    <table class="table">
        <thead class="text-warning">
            <tr>
                <th scope="col">Pilote</th>             
                <th scope="col">scoring</th>
            </tr>
        </thead>
        <tbody>
            <% scoring_pilote.each do |user_data| %>
                <tr>
                    <th scope="row"> <%= user_data[:user_nom] %> </th>
                    <th scope="row"> <%= user_data[:scoring].to_i %> </th>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>

