

<div class="d-flex justify-content-between p-2 mx-1">
  <div class="container rounded p-2 text-center" style="background-color: rgba(255, 255, 255, 0.2);">
      <i class="mx-1 fa fa-xl fa-money-bill-wave"></i>

      <span class="fw-bold mx-2">  Paris </span>

      <span>  nb: </span>
      <span data-controller="counter" data-target-value="<%= @nb_paris %>"></span>

      <span class="ms-2">  mises: </span>
      <span data-controller="counter" data-target-value="<%= @sum_paris %>"></span>

      <hr class="my-2">

      <%= user_badge_with_infos(@pari_with_biggest_solde.user, "meilleur gain", @pari_with_biggest_solde.solde) %>
      <%= user_badge_with_infos(@pari_with_highest_cote.user, "meilleure cote", @pari_with_highest_cote.cote) %>

  </div>


</div>







<%# reprendre : 
    - positionner les badges counters horizontalement

      nb dotds 
      nb doi 
      plus gros gain position polite entre qualif et course 

%>
