<div class="overlay-content">

  <div class="container badge-container rounded-pill m-1 text-light fw-bold fs-4" style="background-color: rgba(255, 255, 255, 0.2);">
    <div class="row align-items-center justify-content-center p-2">
      <div class="col p-0 m-0">
        <i class="fa fa-user-group"></i>
      </div>
      <div class="col p-0 text-center">
        paris
      </div>
      <div class="col p-1">
        <div data-controller="counter" data-target-value="<%= 120 %>"></div>
      </div>  
    </div>
  </div>

  <div class="container rounded-pill m-1 text-light fw-bold fs-4" style="background-color: rgba(255, 255, 255, 0.2);">
    <div class="row align-items-center justify-content-center p-2">
      <div class="col p-0 m-0">
        <i class="fa fa-user-group"></i>
      </div>
      <div class="col p-0 text-center">
        DOI
      </div>
      <div class="col p-1">
        <div data-controller="counter" data-target-value="<%= 6 %>"></div>
      </div>  
    </div>
  </div>

  <div class="container rounded-pill m-1 text-light fw-bold fs-4" style="background-color: rgba(255, 255, 255, 0.2);">
    <div class="row align-items-center justify-content-center p-2">
      <div class="col p-0 m-0">
        <i class="fa fa-user-group"></i>
      </div>
      <div class="col p-0 text-center">
        DOTD
      </div>
      <div class="col p-1">
        <div data-controller="counter" data-target-value="<%= 22 %>"></div>
      </div>  
    </div>
  </div>

</div>




<%# reprendre : 
    - ajouter btn pour telecharger video 
    - ajouter info sur la course en haut à droite
    - ajouter info ou autre en bas
    - positionner les badges counters horizontalement
    - ajouter les autres infos counters 
    - info nb pos gain max entre qualif et course
    - ajouter les bons icons 
    - passer dans race me 

%>
