<div class="container container-titre">
  <div class="row">
    <div class="col-2 text-center">
      <%= image_tag("pilote_icon.png", border: 0, width: 50) %>
    </div>
    <div class="col-10 d-flex align-items-center">
      <h1>Pilotes</h1>
    </div>
  </div>

 
</div>


<%#= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
  <%#= turbo_frame_tag :pagination, loading: :lazy, 
      src: pilotes_path(format: :turbo_stream,
      q: params[:q]&.to_unsafe_h) 
  %>
<%# end %>

<div id="new_pilote">
  <%= render partial: "pilotes/form", locals: {pilote: Pilote.new} %>
</div>

<div id="pilotes">
    <%= render @pilotes %>
</div>

<%#= link_to "Nouveau", new_pilote_path, data: { turbo_frame: "modal" }, 
      class:"btn btn-nouveau" %>

<div class="">
  <%#= turbo_frame_tag :modal %>
</div>