<div data-controller="newrecord" data-action="turbo:submit-end->newrecord#submitEnd">
      
  <div class="container container-titre">
    <div class="row">
      <div class="col-2 icon-titre">
        <i class="fa fa-user"></i>
      </div>
      <div class="col-8 d-flex align-items-center">
        <h1>Pilotes</h1>
      </div>
      <div class="col-2 d-flex align-items-center">
        <div role="button" data-action="click->newrecord#openDropdown" 
          data-newrecord-target="openButton" 
          class="fa-solid fa-add btn btn-warning btn-action">
        </div>
        <div role="button" data-action="click->newrecord#closeDropdown" 
          data-newrecord-target="closeButton" 
          class="fa-solid fa-close btn btn-danger btn-action">
        </div>
      </div>
    </div>
  </div>

  <div data-newrecord-target="newrecordContent">
    <div id="new_pilote">
      <%= render partial: "pilotes/form", locals: {pilote: Pilote.new} %>
    </div>
  </div>

  <div id="pilotes">
    <%= render @pilotes %>
  </div>

</div>

<%#= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
  <%#= turbo_frame_tag :pagination, loading: :lazy, 
      src: pilotes_path(format: :turbo_stream,
      q: params[:q]&.to_unsafe_h) 
  %>
<%# end %>