
<%= turbo_frame_tag :modal do %>
  <div data-controller="hidemodal" data-action="turbo:submit-end->hidemodal#submitEnd"> 
    <div class="list-records-item">
     <%= render "form", pilote: @pilote %>
    </div>
  </div>
<% end %>