<h1>Editing base setup</h1>

<%= render "form", base_setup: @base_setup %>

<br>

<div>
  <%= link_to "Show this base setup", @base_setup %> |
  <%= link_to "Back to base setups", base_setups_path %>
</div>
