<div id="<%= dom_id comportement_base_setup %>">
  <div class="row m-0 p-0">
    <div class="col-9 align-items-center m-0">
        <span class="badge border border-success m-0 p-1"> 
          <%= comportement_base_setup.comportement.nom %>
        </span>            
    </div>
    <div class="col-3 d-flex align-items-center p-1">
      <%= button_to "", edit_comportement_base_setup_path(comportement_base_setup), method: :post, 
            class: "btn btn-sm btn-outline-secondary fa-solid fa-pen-to-square mx-1" %>
      <%= button_to "", comportement_base_setup_path(comportement_base_setup), method: :delete, 
            class: "btn btn-sm btn-outline-danger fa-solid fa-trash" %>
    </div>
  </div>
</div>
