<div id="<%= dom_id comportement_base_setup %>">
  <p>
    <strong>Base setup:</strong>
    <%= comportement_base_setup.base_setup_id %>
  </p>

  <p>
    <strong>Comportement:</strong>
    <%= comportement_base_setup.comportement_id %>
  </p>

  <p>
    <strong>Sens:</strong>
    <%= comportement_base_setup.sens %>
  </p>

</div>
