<h1>Editing comportement base setup</h1>

<%= render "form", comportement_base_setup: @comportement_base_setup %>

<br>

<div>
  <%= link_to "Show this comportement base setup", @comportement_base_setup %> |
  <%= link_to "Back to comportement base setups", comportement_base_setups_path %>
</div>
