<h1>Editing bonus pari</h1>

<%= render "form", bonus_pari: @bonus_pari %>

<br>

<div>
  <%= link_to "Show this bonus pari", @bonus_pari %> |
  <%= link_to "Back to bonus paris", bonus_paris_path %>
</div>
