<p style="color: green"><%= notice %></p>

<h1>Saisons</h1>

<div id="saisons">
  <% @saisons.each do |saison| %>
    <%= render saison %>
    <p>
      <%= link_to "Show this saison", saison %>
    </p>
  <% end %>
</div>

<%= link_to "New saison", new_saison_path %>
