<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="new_post">
  <%= render partial: "posts/form", locals: {post: Post.new} %>
</div>

<div id="posts">
    <%= render @posts %>
</div>

<hr>
<%= link_to "New post", new_post_path %>
