
<h1>Posts</h1>

<div data-controller="newrecord" data-action="turbo:submit-end->newrecord#submitEnd">

  <div role="button" data-action="click->newrecord#openDropdown" 
    data-newrecord-target="openButton", class="fa-solid fa-eye btn btn-warning btn-action">
      Nouveau
  </div>
  <div role="button" data-action="click->newrecord#closeDropdown" 
    data-newrecord-target="closeButton", class="fa-solid fa-eye-slash btn btn-warning btn-action">
      Fermer
  </div>
  
    <div data-newrecord-target="newrecordContent">
      <div id="new_post">
         <%= render partial: "posts/form", locals: {post: Post.new} %>
      </div>
   
    </div>


                
</div>











<div id="posts">
    <%= render @posts %>
</div>



<%#= link_to "New post", new_post_path %>
