/*
 *= require_self
 */

 @font-face {
  font-family: 'F1regular';
  src: url('Formula1-Regular_web_0.ttf');
}

body, select {
  font-family: "F1regular";
  font-size: small;
}

::-webkit-scrollbar {
  width: 4px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #7b7c7d; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

#flash {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  box-shadow:  5px 5px 10px #535356,
  -5px -10px 0px #ffffff;
}

select, input{
  text-align: center;
}

.no-underline{
  text-decoration: none;
}

 .page-max-widthed{
  width: 100%;
  max-width: 1000px;
  margin-top: 60px;
 }

 .record-banniere-max-width{
  width: 100%;
  max-width: 700px;
 }

.flex-element{
    display: flex;
    align-items: center; 
    justify-content:space-between;
}

.card-with-effect{
  border-radius: 10px;
  background: #fffefe;
  box-shadow:  10px 10px 20px #b5b5b5,
              -10px -20px 20px #fffdfd;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.record-with-effect{
  border-radius: 10px;
  background: #fffefe;
  box-shadow:  2px 2px 5px #dddbdb,
              -2px -5px 5px #ffffff;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;


}

.badge-pos{

  background-color: rgb(0, 0, 0);
  font-weight: bold;
  color: rgb(255, 255, 255);
  /*width: 40px;
 /* max-width: 40px;
 /* margin: 10px;*/

} 

.text-mt-colored{
  color: rgb(162, 26, 162);
}

.record-max-height{
  max-height: 35px;
}

.btn-event{
  font-size: x-small;
}