<h1>Editing association admin</h1>

<%= render "form", association_admin: @association_admin %>

<br>

<div>
  <%= link_to "Show this association admin", @association_admin %> |
  <%= link_to "Back to association admins", association_admins_path %>
</div>
