<h1>Editing correction</h1>

<%= render "form", correction: @correction %>

<br>

<div>
  <%= link_to "Show this correction", @correction %> |
  <%= link_to "Back to corrections", corrections_path %>
</div>
