<div data-controller="autohide" style="position: fixed; z-index: 5;">
  <% flash.each do |key, value| %>
    <% if key == "error" %>
      <div class="alert alert-danger">
        <%= value %>
      </div>
    <% else%>
      <div class="alert alert-success">
        <%= value %>
      </div>
    <% end %>
  <% end %>
</div>