<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <!-- Your other head content -->
  <%= stylesheet_link_tag "document", media: "all", "data-turbolinks-track": "reload" %>
</head>
<body>
  <%= yield %>

</body>
</html>
